<header>
		<div class="contact"><%= link_to "home", '/' %></div>
		<div class="contact"><%= link_to "team", '/team' %></div>
		</header>

<h1>Nous contacter ?</h1>
<p>Si tu veux continuer a bitcher, c'est par ici que ca se passe :<br />
	Fleur -> 0782575550<br />
	Sellig -> 0606060606<br />
PS : On ne veut que les potins les + croustillants !!!</p>
