<header>
		<div class="contact"><%= link_to "contact", '/contact' %></div>
		<div class="contact"><%= link_to "home", '/' %></div>
		</header>

<h1>Hello world !</h1>
<p>Salut moussaillon ! Nous, c'est la team PLS !<br />
	On est tres heureux de t'accueillir sur notre page de Gossips... Habitues a bitcher autour de grandes pintes, on a decide de creer ce forum pour "ragoter" sur les binches ! Soit donc la/le bienvenue sur cette page, et surtout n'hesite pas a nous envoyr tes meilleures anecdotes et potins sur tes potes completement bourres, ca nous ferait enormement plaiz ! See u mouss' !</p>