body
{
	margin: 0px;

background: radial-gradient(circle, rgba(255,0,112,1) 0%, rgba(0,117,255,1) 100%);
}

header
{
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.contact
{
	font-family: sans-serif;
	color: white;
	text-decoration: none;
	font-size: 2em;
}

h1
{
	text-align: center;
	color : #FF8B01;
	font-size: 3em;
}

p
{
	font-size: 2em;
}

#cards
{
	margin: 50px;
	border: 1px solid black;
	border-radius: 15px;
	width: 500px;
	height: 150px;
	text-align: center;
}

#author
{
	animation: popo 2s infinite;
}

@keyframes popo
{

	0%
	{
		color : purple;
	}
	50%
	{
		color: orange;
	}
	100%
	{
		color: purple;
	}
}

#mmm
{
	width: 1000px;
	height: 300px;
	border: 1px solid black;
	border-radius: 30px;
	margin: auto;
	background-color: orange;
	text-align: center;
}