<header>
	<%= link_to "créer un potin", new_gossip_path %>
	<%= link_to "team", team_path %>
	<%= link_to "home", root_path %>
	<%= link_to 'déconnection', new_session_path %>
</header>

<h1>contact</h1>

<p>fleur  => 0606060606</p>
<p>sellig => 0707070707</p>